body{
    padding-top: 80px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 105, 0);
    color: white;
}

.nav-inner{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 100%;
    margin: auto;
}

.nav-inner .gender{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 300px;
    font-weight: bold;
}

.nav-inner .logo{
    display: flex;
    align-items: center;
}

.nav-inner .logo img{
    height: 43%;
    width: 160px;
}

.nav-inner .login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 250px;
    font-weight: bold;
}

main{
    padding:  50px 0;
}

.main-inner{
    width: 1000px;
    margin: auto;
}

#row{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

#row.row-top{
    margin-bottom: 30px;
}

#card{
    display: inline-block;
    position: relative;
    width: calc(100% / 3);
    height: 525px;
}

#card .card-img img{
    width: 100%;
}

#card .card-hover img{
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card-img:hover .card-hover{
    display: inline-block;
}

.brand{
    font-size: 12px;
}

.discounted-price{
    color: red;
}

.full-price{
    text-decoration: line-through;
}

footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: black;
    color: white;
}