*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 105, 0);
    color: white;
}

.nav-inner{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 100%;
    margin: auto;
    border: 1px solid red;
}

.nav-inner .gender{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 300px;
    font-weight: bold;
    border: 1px solid black;
}

.nav-inner .logo{
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.nav-inner .logo img{
    height: 43%;
    width: 160px;
}

.nav-inner .login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 250px;
    font-weight: bold;
    border: 1px solid black;
}